@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: black;
}

li {
  list-style: none;
}

a.signup {
  background-color: black;
  color: white;
}

header {
  background-color: white;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.left {
  padding-left: 40px;
}

header div.right {
  padding-right: 40px;
}

header h1 {
  margin-right: 50px;
  font-size: 29px;
  font-weight: 700 bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul li {
  margin-right: 35px;
}

header a.signup {
  width: 140px;
  height: 40px;
}

div.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.presentation div.text {
  position: relative;
  width: 50%;
  height: 700px;
}

div.presentation div.text div.txt-container {
  position: absolute;
  top: 172px;
  left: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
}

div.presentation div.text div.txt-container h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
}

div.presentation div.text div.txt-container p {
  margin-top: 56px;
  line-height: 28px;
  font-weight: 500;
  font-size: 20px;
}

div.presentation div.text div.txt-container a.signup {
  width: 200px;
  height: 60px;
  margin-top: 32px;
}

div.presentation div.image {
  position: relative;
  width: 50%;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.presentation div.image img {
  position: absolute;
  height: 500px;
  right: 13vw;
  border-radius: 195px;
}

div.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (600px)[3];
      grid-template-rows: repeat(3, 600px);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#item1 {
  /* row 1 col 1*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  background-color: black;
}

#item2 {
  /* row 1 col 2*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

#item3 {
  /* row 2 col 1*/
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

#item4 {
  /* row 2 col 2*/
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  background-color: black;
}

#item5 {
  /* row 3 col 1*/
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  background-color: black;
}

#item6 {
  /* row 3 col 2*/
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

#item2,
#item3,
#item6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#item2 div.text,
#item3 div.text,
#item6 div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 66%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#item2 div.text h3,
#item3 div.text h3,
#item6 div.text h3 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}

#item2 div.text p,
#item3 div.text p,
#item6 div.text p {
  margin-bottom: 24px;
  font-size: 20px;
}

#item2 div.text a,
#item3 div.text a,
#item6 div.text a {
  width: 200px;
  height: 60px;
  border: 1px solid black;
  color: black;
}

div.contact {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.contact div.ready-container h2 {
  font-size: 32px;
}

div.contact div.ready-container p {
  font-size: 32px;
  margin-top: 5px;
}

div.contact div.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.contact div.btn-container a {
  height: 48px;
  width: 200px;
}

div.contact div.btn-container a.contact {
  border: 1px solid black;
  color: black;
  margin-left: 16px;
}

/* FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
}

footer div.container div.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
}

footer div.container div.nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.container div.nav nav ul li {
  margin: 0 20px 0 20px;
}

footer div.container div.nav nav ul li a {
  font-weight: 700;
}

footer div.container div.nav h3 {
  margin-bottom: 48px;
  font-size: 24px;
}

footer div.container span {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 32px;
}

footer div.container div.contact-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.container div.contact-container div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 12px 0 12px;
  border: 1px solid black;
}

footer div.container div.contact-container div.line2 {
  margin: 24px 0 31px 0;
}

footer div.container p {
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */